@import 'antd/dist/antd.css';

.div_wrapper{
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 35vh;
}

.titulo{
  display: flex;
  justify-content: flex-start;
  font-family : "Open Sans", sans-serif; 
  font-weight : 700; 
  margin-top : 10px; 
  margin-bottom : 10px; 
  font-size : 14px; 
  color : rgb(96, 93, 95); 
  text-transform : uppercase; 
  box-sizing : border-box; 
  border-bottom: solid 1px #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.calendar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

